# https://withjoy.atlassian.net/wiki/spaces/KNOW/pages/1870430239/Artifactory
registry=https://registry.npmjs.org/
@withjoy:registry=https://registry.npmjs.org/
//registry.npmjs.org/:username=joylife
always-auth=true

# https://withjoy.atlassian.net/wiki/spaces/KNOW/pages/1815806077/Care+Feeding+of+npm-shrinkwrap.json
format-package-lock=true
package-lock=true
package-lock-only=false
shrinkwrap=true
#engine-strict=true
save=true

# can't be strict, because of Node 6
#   "Unsupported engine for jest@25.5.4: wanted: {"node":">= 8.3"} (current: {"node":"6.17.1","npm":"3.10.10"})"
#   which is why we use `mocha`
engine-strict=false
