no-shrinkwrap=true
no-package-lock=true

# can't be strict, because of Node 6
#   "Unsupported engine for jest@25.5.4: wanted: {"node":">= 8.3"} (current: {"node":"6.17.1","npm":"3.10.10"})"
#   which is why we use `mocha`
engine-strict=false
